<%- include("partials/header") %>

<main class="container d-flex justify-content-center align-items-center mt-5 w-50" style="min-height: 30vh;">
<form action="/login" method="post" class="px-4 py-3 col-12 col-md-9 lg-4">
<fieldset class="mb-3">
    <label for="loginUsername" class="form-label ctext-white">Username</label>
    <input type="text" class="form-control" name="loginUsername" id="loginUsername" placeholder="Username"/>
</fieldset>
<fieldset class="mb-3">
    <label for="loginPassword" class="form-label ctext-white">Password</label>
    <input type="password" class="form-control" name="loginPassword" id="loginPassword" placeholder="Password"/>
</fieldset>
<button type="submit" class="btn btn-dark cbg-dark col-3">Login</button>
<a href="/register" class="btn btn-link ctext-white ms-4 col-3 text-nowrap">No account? Register!</a>
</form>
</main>
<%- include("partials/footer") %>